.search__button {
  position: absolute;
  left: 2rem;
  top: 50%;
  height: 4rem;
  width: 4rem;
  transform: translateY(-50%);
}

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  .search__button {
    left: 2rem;
    height: 7rem;
    width: 7rem;
  }
}

/* (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 48em) and (max-width: 63.9375em) {
  .search__button {
    left: 2rem;
    height: 7rem;
    width: 7rem;
  }
}
