.partners__description {
  font-size: 1.6rem;
  line-height: 140%;
  opacity: 0.6;
}

/* (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 48em) and (max-width: 63.9375em) {
  .partners__description {
    font-size: 3.2rem;
  }
}
