.footer__column {
  display: flex;
  flex-direction: column;
  width: calc(25% - 3rem);
}

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  .footer__column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/* (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 48em) and (max-width: 63.9375em) {
  .footer__column {
    display: flex;
    flex-direction: column;
    width: calc(50% - 3rem);
  }
}
