.contacts__email {
  font-size: 1.8rem;
  line-height: 140%;
  opacity: 0.6;
  margin-bottom: .5rem;
}

.contacts__email:last-child {
  margin-bottom: 0;
}

/* (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 48em) and (max-width: 63.9375em) {
  .contacts__email {
    font-size: 3.6rem;
    margin-bottom: 1rem;
  }
}
