.preview__btn--trailer {
  padding: 0;
  width: 10.4rem;
  height: 7.2rem;
  padding: 2.2rem 3.7rem 2.3rem 4.2rem;
}

.preview__btn--trailer svg {
  width: 2.3rem;
  height: 2.7rem;
}

.preview__btn--trailer svg:active {
  color: var(--color-primary);
}